{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand  " href="{% url 'addandshow' %}"><span class="nav_lo">A2K</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav itt me-lg-4  mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active  btn btn-outline-warning mx-5" aria-current="page"
                           href="{% url 'addandshow' %}">Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oswald:500" rel="stylesheet">
    <script>!function (e) {
        "undefined" == typeof module ? this.charming = e : module.exports = e
    }(function (e, n) {
        "use strict";
        n = n || {};
        var t = n.tagName || "span", o = null != n.classPrefix ? n.classPrefix : "char", r = 1, a = function (e) {
            for (var n = e.parentNode, a = e.nodeValue, c = a.length, l = -1; ++l < c;) {
                var d = document.createElement(t);
                o && (d.className = o + r, r++), d.appendChild(document.createTextNode(a[l])), n.insertBefore(d, e)
            }
            n.removeChild(e)
        };
        return function c(e) {
            for (var n = [].slice.call(e.childNodes), t = n.length, o = -1; ++o < t;) c(n[o]);
            e.nodeType === Node.TEXT_NODE && a(e)
        }(e), e
    });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <section>

        <div class="swiper-container slideshow">

            <div class="swiper-wrapper">

                <div class="swiper-slide slide">
                    <div class="slide-image"
                         style="background-image: url(https://images.unsplash.com/photo-1615554851544-e6249b92a492?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)"></div>
                    <span class="slide-title">A2K<br><hr class="alert alert-light">Solutions</span><br>

                </div>

                <div class="swiper-slide slide">
                    <div class="slide-image"
                         style="background-image: url(https://images.unsplash.com/photo-1593642634315-48f5414c3ad9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80"></div>
                    <span class="slide-title">Meet ocean</span>
                </div>

                <div class="swiper-slide slide">
                    <div class="slide-image"
                         style="background-image: url(https://images.unsplash.com/photo-1604596036466-4a223443c46b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1100&q=80"></div>
                    <span class="slide-title">Around the world</span>
                </div>


            </div>

            <div class="slideshow-pagination"></div>

            <div class="slideshow-navigation">
                <div class="slideshow-navigation-button prev"><span class="fas fa-chevron-left"></span></div>
                <div class="slideshow-navigation-button next"><span class="fas fa-chevron-right"></span></div>
            </div>

        </div>

    </section>
    <script>
        // The Slideshow class.
        class Slideshow {
            constructor(el) {

                this.DOM = {el: el};

                this.config = {
                    slideshow: {
                        delay: 3000,
                        pagination: {
                            duration: 3,
                        }
                    }
                };

                // Set the slideshow
                this.init();

            }

            init() {

                var self = this;

                // Charmed title
                this.DOM.slideTitle = this.DOM.el.querySelectorAll('.slide-title');
                this.DOM.slideTitle.forEach((slideTitle) => {
                    charming(slideTitle);
                });

                // Set the slider
                this.slideshow = new Swiper(this.DOM.el, {

                    loop: true,
                    autoplay: {
                        delay: this.config.slideshow.delay,
                        disableOnInteraction: false,
                    },
                    speed: 500,
                    preloadImages: true,
                    updateOnImagesReady: true,

                    // lazy: true,
                    // preloadImages: false,

                    pagination: {
                        el: '.slideshow-pagination',
                        clickable: true,
                        bulletClass: 'slideshow-pagination-item',
                        bulletActiveClass: 'active',
                        clickableClass: 'slideshow-pagination-clickable',
                        modifierClass: 'slideshow-pagination-',
                        renderBullet: function (index, className) {

                            var slideIndex = index,
                                number = (index <= 8) ? '0' + (slideIndex + 1) : (slideIndex + 1);

                            var paginationItem = '<span class="slideshow-pagination-item">';
                            paginationItem += '<span class="pagination-number">' + number + '</span>';
                            paginationItem = (index <= 8) ? paginationItem + '<span class="pagination-separator"><span class="pagination-separator-loader"></span></span>' : paginationItem;
                            paginationItem += '</span>';

                            return paginationItem;

                        },
                    },

                    // Navigation arrows
                    navigation: {
                        nextEl: '.slideshow-navigation-button.next',
                        prevEl: '.slideshow-navigation-button.prev',
                    },

                    // And if we need scrollbar
                    scrollbar: {
                        el: '.swiper-scrollbar',
                    },

                    on: {
                        init: function () {
                            self.animate('next');
                        },
                    }

                });

                // Init/Bind events.
                this.initEvents();

            }

            initEvents() {

                this.slideshow.on('paginationUpdate', (swiper, paginationEl) => this.animatePagination(swiper, paginationEl));
                //this.slideshow.on('paginationRender', (swiper, paginationEl) => this.animatePagination());

                this.slideshow.on('slideNextTransitionStart', () => this.animate('next'));

                this.slideshow.on('slidePrevTransitionStart', () => this.animate('prev'));

            }

            animate(direction = 'next') {

                // Get the active slide
                this.DOM.activeSlide = this.DOM.el.querySelector('.swiper-slide-active'),
                    this.DOM.activeSlideImg = this.DOM.activeSlide.querySelector('.slide-image'),
                    this.DOM.activeSlideTitle = this.DOM.activeSlide.querySelector('.slide-title'),
                    this.DOM.activeSlideTitleLetters = this.DOM.activeSlideTitle.querySelectorAll('span');

                // Reverse if prev
                this.DOM.activeSlideTitleLetters = direction === "next" ? this.DOM.activeSlideTitleLetters : [].slice.call(this.DOM.activeSlideTitleLetters).reverse();

                // Get old slide
                this.DOM.oldSlide = direction === "next" ? this.DOM.el.querySelector('.swiper-slide-prev') : this.DOM.el.querySelector('.swiper-slide-next');
                if (this.DOM.oldSlide) {
                    // Get parts
                    this.DOM.oldSlideTitle = this.DOM.oldSlide.querySelector('.slide-title'),
                        this.DOM.oldSlideTitleLetters = this.DOM.oldSlideTitle.querySelectorAll('span');
                    // Animate
                    this.DOM.oldSlideTitleLetters.forEach((letter, pos) => {
                        TweenMax.to(letter, .3, {
                            ease: Quart.easeIn,
                            delay: (this.DOM.oldSlideTitleLetters.length - pos - 1) * .04,
                            y: '50%',
                            opacity: 0
                        });
                    });
                }

                // Animate title
                this.DOM.activeSlideTitleLetters.forEach((letter, pos) => {
                    TweenMax.to(letter, .6, {
                        ease: Back.easeOut,
                        delay: pos * .05,
                        startAt: {y: '50%', opacity: 0},
                        y: '0%',
                        opacity: 1
                    });
                });

                // Animate background
                TweenMax.to(this.DOM.activeSlideImg, 1.5, {
                    ease: Expo.easeOut,
                    startAt: {x: direction === 'next' ? 200 : -200},
                    x: 0,
                });

                //this.animatePagination()

            }

            animatePagination(swiper, paginationEl) {

                // Animate pagination
                this.DOM.paginationItemsLoader = paginationEl.querySelectorAll('.pagination-separator-loader');
                this.DOM.activePaginationItem = paginationEl.querySelector('.slideshow-pagination-item.active');
                this.DOM.activePaginationItemLoader = this.DOM.activePaginationItem.querySelector('.pagination-separator-loader');

                console.log(swiper.pagination);
                // console.log(swiper.activeIndex);

                // Reset and animate
                TweenMax.set(this.DOM.paginationItemsLoader, {scaleX: 0});
                TweenMax.to(this.DOM.activePaginationItemLoader, this.config.slideshow.pagination.duration, {
                    startAt: {scaleX: 0},
                    scaleX: 1,
                });


            }

        }

        const slideshow = new Slideshow(document.querySelector('.slideshow'));

    </script>
    {#    <h4 class="text-center alert alert-info">Location</h4>#}
    {#    <div class="container">#}
    {#    <div class="row">#}
    {#        <div class="d-inline">#}
    {#    <h4 class="text-center col-lg-6 d-inline alert alert-info">A2K Solutions</h4>#}
    {##}
    {#    <p class="map">#}
    {#    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.7847392570498!2d74.29310101513622!3d31.47510715652512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903e43f8982bd%3A0xcd0d213c844c473!2sA2K%20Solutions!5e0!3m2!1sen!2s!4v1618603833022!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>#}
    {#    </p>#}
    {#    </div>#}
    {#    </div>#}
    {#    </div>#}
    <div>

        <h1 class="text-center m-5" style="color: #dc3545; font-weight: 900"> LOCATION </h1>

    </div>
    <div class="paragraphs">
        <div class="row">
            <div class="span4">
                {#      <img style="float:left" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjPyhDRQG3R5CZxVpTmYBasZb30zZ9p5UAUpnkLP5toEwmK7Df&s"/>#}
                <br>
                <p class="ms-xl-5 " style="float:right">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.7847392570498!2d74.29310101513622!3d31.47510715652512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903e43f8982bd%3A0xcd0d213c844c473!2sA2K%20Solutions!5e0!3m2!1sen!2s!4v1618603833022!5m2!1sen!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </p>
                {#        <div class="content-heading bg-danger"><h3>Experience &nbsp </h3></div>#}
                {#        <div class="content-heading bg-warning"><p>Experience &nbsp tddrdffyjrdyugfytydytfresggvc drd  esdf vshgred  rd dtrd  </p></div>#}

                <h1 class=" col-lg-7 m-2  " style="color:black">Welcome to <span
                        style="color: #fd7e14"> A2K Solutions </span> : </h1>
                <div class="col-lg-6 m-5">
                    <p style="color:black" class="mx-5"><span style="color: #fd7e14"> A2K Solutions </span> | 17
                        followers on LinkedIn. We are a software services based company located in Lahore. We started in
                        2018 and since ...</p>
                </div>
            </div>
        </div>
    </div>
    <div>

        <h1 class="text-center m-5" style="color: #dc3545; font-weight: 900"> OUR TEAM </h1>

    </div >
<style>
.btnn{
    border-radius: 30px;
    color: #dc3545;
    border-color: #dc3545;

}
.btnn:hover{
    background-color: #ffc720;
}
</style>
  <!-- Button trigger modal -->
    <div class="m-5">
<button type="button" class="  m-4  btnn btn"  data-bs-toggle="modal" data-bs-target="#rameezmodel">
  Rameez Hafeez
</button>
    <button type="button" class="btn btnn m-4" data-bs-toggle="modal" data-bs-target="#rameezmodel">
  RAmeez Hafeez
</button>
<button type="button" class="btn btnn m-4" data-bs-toggle="modal" data-bs-target="#rameezmodel">
  RAmeez Hafeez
</button>
    <button type="button" class="btn btnn m-4" data-bs-toggle="modal" data-bs-target="#rameezmodel">
  RAmeez Hafeez
</button>
    <button type="button" class="btn btnn m-4" data-bs-toggle="modal" data-bs-target="#rameezmodel">
  RAmeez Hafeez
</button>
    <button type="button" class="btn btnn m-4" data-bs-toggle="modal" data-bs-target="#rameezmodel">
  RAmeez Hafeez
</button>
      <button type="button" class="btn btnn m-4" data-bs-toggle="modal" data-bs-target="#rameezmodel">
  RAmeez Hafeez
</button>




    </div>

<!-- Modal -->
<div class="modal fade" id="rameezmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title alert alert-info col-lg-6 " id="exampleModalLabel">Rameez Hafeez</h5>
        <button type="button" class="btn-close btn btn-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <center>
                <img src="https://scontent.flhe1-1.fna.fbcdn.net/v/t1.6435-1/s200x200/122090539_785649042213832_2380554346510933836_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=7206a8&_nc_eui2=AeFnix22YGzQ1rzABI-yTa2rN0NwM13p9Ks3Q3AzXen0qzNBni1NSZhAXSJCcGYBStEKHYNEzWJNyrQ2w5ShjnIC&_nc_ohc=KFelrQrJHV8AX-L8koQ&_nc_ht=scontent.flhe1-1.fna&tp=7&oh=0c9ea6d408a889428546475b113deec5&oe=60A1F00A" alt="Rameez Hafeez">
                 </center>
          <div class=" mt-5">
              <p class="m-5" style="color: black">I am a ?????????  </p>

          </div>
             </div>

      <div class="modal-footer">

      <a href="https://rameezportfolio.herokuapp.com">Rameez Hafeez </a>
      </div>
    </div>
  </div>
</div>


  <div>

        <h1 class="text-center m-5" style="color: #dc3545; font-weight: 900"> ABOUT US </h1>

    </div>
    <div class="footer">
            <p>Developed By : A2K solutions | All Rights Reserved</p>
            <p>Contacts : 0302-9319572 | Email : chrameez572@gmail.com</p>
        </div>
{% endblock content %}

